.grid-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 1rem 2rem;
}

.list-table {
    width: 93%;
    margin: 0 auto;
    margin-top: 1rem;
    border-collapse: collapse;
}

.no-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .list-table {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .grid-container {
        margin: 1rem 0;
    }

    .list-panel {
        padding: 5px !important;
    }
}