.select-coin-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

@media only screen and (max-width: 800px) {
    .select-coin-div * {
        font-size: 0.9rem !important;
    }
}

@media only screen and (max-width: 400px) {
    .select-coin-div {
        gap: 0.5rem;
    }
}